<!doctype html>
<html lang='en' ng-app='Gainzzz'>
<head>
    <link rel="shortcut icon" href="./resources/icon.png">
    <title>Gainzzz</title>
	<link rel="stylesheet" href="./css/aesthetics.css" type="text/css">
</head>

<body>
    <div class="vid">
        <video autoplay loop poster="auto" id="bgvid">
        <source src="resources/weights.mp4" type="video/mp4">
        </video>
    </div>

	<div ng-controller='SearchCtrl'>

        <div class="bodyImage">
            <img class="bodyImage" src='./resources/body.png' usemap="bodymap"></img>
            <map name="bodymap">
            <area ng-click="search('chest')" alt="" title="chest" shape="rect" coords="106,71,201,111" style="outline:none;" target="_self"/>
            <area ng-click="search('arms')" alt="" title="arms" shape="rect" coords="34,0,106,97" style="outline:none;" target="_self"     />
            <area ng-click="search('arms')" alt="" title="arms1" shape="rect" coords="206,0,271,106" style="outline:none;" target="_self"     />
            <area ng-click="search('abs')" alt="" title="abs" shape="rect" coords="106,112,201,152" style="outline:none;" target="_self"     />
            <area ng-click="search('thighs')" alt="" title="thighs" shape="rect" coords="106,165,201,205" style="outline:none;" target="_self"     />
            <area ng-click="search('calves')" alt="" title="calves" shape="rect" coords="105,241,200,281" style="outline:none;" target="_self"     />
            <area shape="rect" coords="298,298,300,300" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
            </map>
        </div>

        <div class="searchBox">
              <input type="text" ng-model='searchTerm'>
		      <input type='button' value='What hurts?' ng-click='search(searchTerm)'>
        </div>

<div class="filters">
			<a id='Diet_includeDiet' href='' ng-click='includeDiet()'>
				<img class='dietIcon' src='./resources/diet.png'>
			</a>

			<a id='Injury_includeInjury' href='' ng-click='includeInjury()'>
                <img class='injuryIcon' src='./resources/injury.png'>
			</a>
            
            <a id='Exercise_includeExercise' href='' ng-click='includeExercise()'>
                <img class='exerciseIcon' src='./resources/exercise.png'>
			</a>
 
            <a id='Stretch_includeStretch' href='' ng-click='includeStretch()'>
                <img class='stretchIcon' src='./resources/stretch.png'>
			</a>
		</div>

</body>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>

    <script type='text/javascript' src='js/search.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</html>
