<!doctype html>
<html lang='en' ng-app='Gainzzz'>
<head>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>

	<script type='text/javascript' src='js/search.js'></script>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>

<body>
		
	<div ng-controller='SearchCtrl'>
		<input type="text" ng-model='searchTerm'>
		<input type='button' value='What hurts?' ng-click='search(searchTerm)'>

		<br />
		<div id='imagefilters'>
			<a id='Diet_includeDiet' href='' ng-click='includeDiet()'>
				<img src='http://icons.iconarchive.com/icons/bingxueling/fruit-vegetables/256/apple-red-icon.png'>
			</a>

			<a id='Injury_includeInjury' href='' ng-click='includeInjury()'>
				<img src='http://www.vaccsdc.com.au/Portals/0/Pictures/FirstAidKit.png'>
			</a>

			<a id='Exercise_includeExercise' href='' ng-click='includeExercise()'>
				<img src='http://www.dayohk.com.img.800cdn.com/products/_hxdb050.png'>
			</a>

			<a id='Stretch_includeStretch' href='' ng-click='includeStretch()'>
				<img src='http://cdn.flaticon.com/png/256/40610.png'>
			</a>
		</div>

		<div><p>{{searchTerm}}</p></div>
		<div><p>{{arrayTerms}}</p></div>
	</div>

</body>
</html>
