<!doctype html>
<html lang='en' ng-app='Gainzzz'>
<head>
    <link rel="shortcut icon" href="./resources/icon.png">
    <title>Gainzzz</title>
	<link rel="stylesheet" href="./css/aesthetics.css" type="text/css">
    <link rel='stylesheet' href='./css/ngDialog.css' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body>
<a name='main'>
    <div class="vid">
        <video autoplay loop poster="auto" id="bgvid">
        <source src="resources/weights.mp4" type="video/mp4">
        </video>
    </div>

    <div class='brandname'>
        <h1 style='font-size: 70px;'>MyGains<span style='font-size: 50px;'>.io</span></h1>
    </div>
    
	<div ng-controller='SearchCtrl'>
        <div class="bodyImage">
            <img class="bodyImage" src='./resources/body.png' usemap="bodymap"></img>
            <map name="bodymap">
            <area ng-click="search('chest')" alt="" title="chest" shape="rect" coords="106,71,201,111" style="outline:none;" target="_self"/>
            <area ng-click="search('arms')" alt="" title="arms" shape="rect" coords="34,0,106,97" style="outline:none;" target="_self"     />
            <area ng-click="search('arms')" alt="" title="arms1" shape="rect" coords="206,0,271,106" style="outline:none;" target="_self"     />
            <area ng-click="search('abs')" alt="" title="abs" shape="rect" coords="106,112,201,152" style="outline:none;" target="_self"     />
            <area ng-click="search('thighs')" alt="" title="thighs" shape="rect" coords="106,165,201,205" style="outline:none;" target="_self"     />
            <area ng-click="search('calves')" alt="" title="calves" shape="rect" coords="105,241,200,281" style="outline:none;" target="_self"     />
            <area shape="rect" coords="298,298,300,300" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
            </map>
        </div>

		<div class="diet col-sm-3" style='width: auto; height: auto; float:left; margin-left: 4%; margin-top:-25%;'>
			<a id='Diet_includeDiet' href='' ng-click='includeDiet()'>
				<img class='filterIcon' src='./resources/diet.png'>
			</a>
        </div>

        <div class="injury col-sm-3" style='width: auto; height: auto; float:left; margin-left: 20%; margin-top:-25%;'>
			<a id='Injury_includeInjury' href='' ng-click='includeInjury()'>
                <img class='filterIcon' src='./resources/injury.png'>
			</a>
        </div>

        <div class='exercise' style='width: auto; height: auto; float:right; margin-right: 4%; margin-top:-25%;'>
			<a id='Exercise_includeExercise' href='' ng-click='includeExercise()'>
                <img class='filterIcon' src='./resources/exercise.png'>
			</a>
        </div>

        <div class='stretch' style='width: auto; height: auto; float: right; margin-right: 20%; margin-top:-25%;'>
			<a id='Stretch_includeStretch' href='' ng-click='includeStretch()'>
                <img class='filterIcon' src='./resources/stretch.png'>
			</a>
		</div>

        <div class="searchBox" style='margin-top: 5%;'>
              <input type="text" ng-model='searchTerm'>
              <input type='button' value='Search' ng-click='search(searchTerm)'>
        </div>

        <div class='toPersonal' style='margin-top:-5%; margin-left: 45%;'>
            <a id='Injury_includeInjury' href='#personal'>
                <img class='filterIcon' src='./resources/down.png'>
            </a>
        </div>

    <div style='height:100px; width:500px; color:green; font-size:16px;'>
      searchTerm: {{searchTerm}}<br/>
      filterTerms: {{filterTerms}}
    </div>
	</div>
</a>

<a name='personal'>
    <div class='toMain' style='margin-top:0%; margin-left: 45%;'>
            <a id='Injury_includeInjury' href='#main' ng-click='includeInjury()'>
                <img class='filterIcon' src='./resources/up.png'>
            </a>
        </div>

    <div id='personalized' ng-controller='PersonalCtrl' style='color:white;'>
        <form class="form-horizontal">
          
<div style='height:50%;width:100%;'>
<fieldset>
<div class="loginbox">
<!-- Text input-->
<div class="form-group"><br/>
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" ng-model='username' placeholder="John Smith" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Age input -->
<div class='form-group'>
  <label class="col-md-4 control-label" for="age">Age</label> 
  <div class="col-md-5">
  <input id='age' name='age' type='number' ng-model='age' placeholder='18' class='form-control input-md' required=''>
  </div>
</div>

<!-- Height input -->
<div class='form-group'>
  <label class="col-md-4 control-label" for="height">Height</label> 
  <div class="col-md-5">
  <input id='height' name='height' type='number' ng-model='heightin_cm' placeholder='175' class='form-control input-md' required=''>
  </div>
</div>

<!-- Weight input -->
<div class='form-group'>
  <label class="col-md-4 control-label" for="weight">Weight</label> 
  <div class="col-md-5">
  <input id='weight' name='weight' type='number' ng-model='weightin_kg' placeholder='70' class='form-control input-md' required=''>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="sex-0">
      <input type="radio" name="sex" id="sex-0" value="1" ng-model='sex' checked="checked">
      Male
    </label>
    </div>
  <div class="radio">
    <label for="sex-1">
      <input type="radio" name="sex" id="sex-1" value="0" ng-model='sex'>
      Female
    </label>
    </div>
  </div>
</div>

<!-- Button -->
<div class='form-group'>
    <label class='col-md-4 control-label' for='calculate'>Calculate</label>
    <div class='col-md-5'>
        <input type='button' style='color:black;' value='B.M.I.' ng-click='calculate(heightin_cm, weightin_kg);'>
    </div>
</div>


</div>
</fieldset>
</form>

    <div class='personalinfo'>
        <h3>Body Mass Index: {{bmi}}</h3>
        <img src='./resources/bmi_graph.png' style='z-index:1;'>
          <div class='livechart'>
            <div class='dot' ng-style="{'margin-top': (ycoord + 'px'), 'margin-left': (xcoord; + 'px')}">.</div>
          </div>
    </div>
</div>

    <div style='height:100px; width:300px; font-size:16px; color:green;'>
      Name: {{username}}<br />
      Age: {{age}}<br />
      Gender: {{sex}}<br />
      Height: {{heightin_cm}}<br />
      Weight: {{weightin_kg}}<br />
      x-coord: {{xcoord}}<br/>
      y-coord: {{ycoord}}<br/>
    </div>
  </div>
</a>
</body>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
    <script type='text/javascript' src='js/search.js'></script>
    <script type='text/javascript' src='js/ngDialog.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</html>
